.App {
  background-color: #282c34;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.gamePicker{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .375rem;
  top: 0;
  justify-self: center;
}
.gamePicker button{
  margin-inline: .375em;
  padding: .5rem;
  font-size: 1rem;
  border-radius: .375rem;
  border: 1px solid black;
}
.gamePicker button:disabled{
  opacity: .8;
}
